<html>
	<head></head>
	<body>

		<h1>onigiritter</h1>

		<p style="font-size:150%">
			LOGIN
		</p>
		<form method="post" class="login">
			<table>
				<tr>
					<td>user_name</td>
					<td>
					<input type="text" name="user_name" value="">
					</td>
				</tr>

				<tr>
					<td>password</td>
					<td>
					<input type="password" name="password" value="">
					</td>
				</tr>
			</table>
		</form>

		<%= link_to 'create new account' , new_user_path %>
		<br>
		<table>
			<% @users.each do |user|%>
			<tr>
				<td> User Name :: <%= user.user_name%> </td>
			</tr>
			<% end %>
		</table>

	</body>

</html>
