// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
  color:red;
}

.title{
  font-size:150%;
}

.logout{
  font-size:50%;
 
}
